/* signup.css */

/* Import the Roboto font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* Apply Roboto font to the entire document */
body {
    font-family: 'Roboto', sans-serif;
    background-color: 'rgba(247, 250, 250, 255)';
    /* Adjust this value as needed */
}

.card {
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.card-title {
    color: #343a40;
}

.form-label {
    color: #343a40;
    font-weight: bold;
}

.form-control {
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 10px;
}

.form-control:focus {
    border-color: #f39c12;
    box-shadow: 0 0 0 0.2rem rgba(243, 156, 18, 0.25);
}

.text-danger {
    color: #dc3545;
}

.alert {
    margin-top: 20px;
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
    border-color: #c3e6cb;
}

.alert-danger {
    background-color: #f8d7da;
    color: #721c24;
    border-color: #f5c6cb;
}

/* Additional Styles for Form Layout */
.row {
    margin-top: 30px;
}

.card-body {
    padding: 40px;
}

@media (max-width: 768px) {
    .card-body {
        padding: 20px;
    }
}

@media (max-width: 576px) {
    .card-body {
        padding: 10px;
    }
}

/* Navbar */
.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    /* Ensure it's on top of other content */
    padding: 10px 0;
    /* Adjust top and bottom padding */
    background-color: white;
    /* Set background color */
}

.navbar-brand {
    margin-right: 20px;
    /* Adjust right margin for branding */
}

.navbar-nav .nav-item .nav-link {
    color: #009933;
    /* Set default color */
    margin-right: 10px;
    /* Add space between navbar links */
}

.navbar-nav .nav-item .nav-link:hover {
    color: #28a745;
    /* Set hover color */
}

.library-icon {
    color: #009933;
    /* Green color for the library icon */
}

.library-text-custom {
    color: #009933;
    /* Green color for the library text */
    font-weight: bold;
    margin-bottom: 40px;
    /* Make the text bold */
}

/* End of signup.css */